<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eye_00_close_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,62},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_01-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,224},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_01-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,10},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_02-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,224},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_02-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,94},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_03-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,94},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_03-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,34},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_04-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,334},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_04-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,34},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_07-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,334},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_07-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,246},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_08-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,94},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_08-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,48},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_09-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,334},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_09-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,10},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_10-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,576},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_10-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,482},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_13-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,62},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_13-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{19,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,22},{19,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_14-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,358},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_14-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,358},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_15-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,358},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_15-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,184},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_16-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,184},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_16-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,78},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_19-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,382},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_19-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,112},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_20-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,382},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_20-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,184},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_21-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,382},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_21-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,246},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_22-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,112},{23,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_22-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,130},{23,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_25-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,78},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_25-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,22},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_26-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{23,130},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_26-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_27-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{23,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,148},{23,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_27-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{36,22},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_28-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,204},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_28-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{23,148},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_31-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{25,482},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_31-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{23,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,48},{23,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_32-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,430},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_32-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,78},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_33-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,204},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_33-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{19,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{34,0},{19,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_34-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,406},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_34-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,246},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_06-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,430},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_06-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,48},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_12-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,512},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_12-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,512},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_18-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,268},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_18-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{21,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,10},{21,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_24-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,268},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_24-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,268},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_30-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,512},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_30-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{17,406},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_36-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,576},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_36-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,544},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_39-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,290},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_39-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{42,148},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_05-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,430},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_05-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,290},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_11-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{34,406},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_11-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{15,8}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,0},{15,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_17-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,166},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_17-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,166},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_23-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,576},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_23-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,290},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_29-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,312},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_29-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,312},{19,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_35-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,456},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_35-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,62},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_37-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,312},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_37-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{21,12}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,34},{21,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_38-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{21,544},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_38-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{40,544},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_40-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{19,456},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_40-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,204},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_43-1_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{0,224},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_43-2_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{38,166},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eye_r.png</string>
            <key>size</key>
            <string>{63,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecd5de4f1de683dbfe606ff9553171b:6b98435ed5f937b78840c4ac75277bae:ce0db4dfbd5ee1b46835fc675a2f538a$</string>
            <key>textureFileName</key>
            <string>eye_r.png</string>
        </dict>
    </dict>
</plist>
