<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eye_00_close_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,170},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_01-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{60,192},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_01-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{56,10},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_02-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{30,170},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_02-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{72,90},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_03-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{100,90},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_03-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{88,10},{28,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_04-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{32,264},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_04-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,24},{30,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_07-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{36,342},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_07-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{92,192},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_08-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{62,54},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_08-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{30,24},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_09-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,216},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_09-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{24,0},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_10-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{78,468},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_10-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,400},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_13-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{96,54},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_13-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,10},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_14-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{32,216},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_14-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{60,216},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_15-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{64,264},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_15-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{60,170},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_16-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{34,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{92,170},{34,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_16-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,72},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_19-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{96,264},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_19-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{34,72},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_20-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{88,216},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_20-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,110},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_21-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,290},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_21-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{38,290},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_22-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,192},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_22-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{34,110},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_25-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{44,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{70,110},{44,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_25-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,130},{42,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_26-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{60,72},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_26-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{28,10}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{56,0},{28,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_27-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{86,72},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_27-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{38,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{64,24},{38,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_28-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{42,130},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_28-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,90},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_31-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{30,370},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_31-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{58,38},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_32-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{72,342},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_32-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{92,38},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_33-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{70,130},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_33-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{84,0},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_34-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{76,290},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_34-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,240},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_06-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{28,240},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_06-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,38},{28,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_12-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{50,432},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_12-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{42,400},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_18-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{42,468},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_18-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,316},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_24-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,54},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_24-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{28,10},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_30-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{72,400},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_30-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{56,240},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_36-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{82,432},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_36-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,468},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_39-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,370},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_fes_39-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{30,54},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_05-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{36,316},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_05-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{96,130},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_11-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{82,240},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_11-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_17-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{28,90},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_17-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{50,90},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_23-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{98,400},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_23-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{36,192},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_29-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{62,316},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_29-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{92,316},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_35-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{66,370},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_35-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,150},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_37-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,264},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_37-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{28,38},{30,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_38-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,432},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_38-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{92,370},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_40-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,342},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_40-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{26,150},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_43-1_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{62,150},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_sp_43-2_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{88,150},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eye_l.png</string>
            <key>size</key>
            <string>{128,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b819cd203b7652c227cd979a483d4e80:3f2ec2ad7bdb6a96ea81861372036570:4f8a87fe48666f674bfaf9b1e38718ed$</string>
            <key>textureFileName</key>
            <string>eye_l.png</string>
        </dict>
    </dict>
</plist>
